* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
}
a {
    text-decoration: none;
    
}
li {
    list-style: none;
}
/* h1,
h2 {
    color: #444;
}
h3 {
    color: #999;
} */
 .btnn{
    display: flex;
    justify-content: flex-end;
 }

.btn {
    margin: 10px;
    background: #15bb31;
    color: white;
    padding: 7px 7px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    
}
.btn:hover {
    background: #303030;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}


.side-menu {
    position: fixed;
    background-color: #303030;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu .brand-name {
    font-size: 15px;
   
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: no;
}
.side-menu .brand-name h2 {
    color: white;
}
.side-menu .brand-name h2 i{
    color: #DA2C32;
    margin-right: 8px;
}
.side-menu li {

    font-size: 20px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
}
.side-menu li i{
    margin-right: 5px;
}
.side-menu li a{
    text-decoration: none;
    color: white;
}
.side-menu li:hover {
    background: #DA2C32;
    color: white;
}
.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

/* Navbar Account Section */
.account {
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease;
}

.fa {
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px; /* Adjust this width to ensure the text fits on one line */
    white-space: nowrap; /* Prevent text wrapping */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.6s ease;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0069d9;
}


.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #dcdcdc;
    padding: 20px 70px;
}

.container .content .main{
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container .content .main .h1 h1{
    font-size: 17px;
    padding: 20px 20px;
    color: white;
    font-weight: 200;
    background-color: #303030;
}

.container .content .info {
    color: black;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .content .info table{
    width: 99%;
}

.container .content .info table input{
    width: 100%;
    padding: 10px 10px 10px 40px; /* Extra padding on the left for the icon */
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    
    font-size: 16px;
    box-sizing: border-box; 
}



.container .content .info table,tr,td,th{
    text-align: center;
    padding: 3px 3px;
    border: 1px solid black;
    border-collapse: collapse;
}

.container .content .info table i{
    font-size: 1rem;
}

.container .content .cards {
    color: white;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards a{
    color: white;
}

.container .content .cards .card {
    border-radius: 5px;
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.8s ease;
}

.container .content .cards .card:hover{
    transform: scale(0.9);;
    color: black;
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.icon-case i{
    font-size: 50px;

}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}
.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}
@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}
@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #DA2C32;
        padding: 8px 38px;
        border: 2px solid white;
    }
}
@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}